 <!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/innerTabLayout}">
<th:block layout:fragment="content">
    <head>
        <title>test1</title>
    </head>
    <body>
        <h2>Welcome</h2>
        <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasRole('ROLE_USER')"><strong>hasRole('USER') : Text visible to user.</strong></div>
        <div sec:authorize="hasRole('ROLE_ADMIN')"><strong>Text visible to admin.</strong></div>
        <div sec:authorize="isAuthenticated()">
            <strong>Text visible only to authenticated users.</strong>
        </div>
        <div sec:authorize="isAnonymous()">
            익명유저
        </div>
        <div sec:authorize="!isAnonymous()">
            익명유저 아님
        </div>
        Authenticated username:
        <strong><div sec:authentication="name"></div></strong>
        Authenticated user roles:
        <strong><div sec:authentication="Authorities"></div></strong>
        <div th:value="${header}"></div>
    </body>
    
</th:block>
</html>