 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>layout</title>
	<th:block th:replace="fragments/config::config"></th:block>
	<th:block th:replace="fragments/commonModal::commonModal"></th:block>
</head>
<body>
	<div class="layout_header">
		<th:block th:replace="fragments/commonHeader::commonHeader"></th:block>
	</div>
	<div class="layout_sidebar">
		<th:block th:replace="fragments/commonSidebar::commonSidebar"></th:block>
	</div>
	<div class="layout_common">
		<th:block layout:fragment="content"></th:block>
	</div>
	<div class="layout_footer">
		<th:block th:replace="fragments/commonFooter::commonFooter"></th:block>
	</div>
</body>
<script>  
	$(document).ready(function() {  

	});  
</script>
</html>