<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	#fileTableGrid tr:hover{
		cursor: pointer; 
		background: #E6E6E6;
	}
</style>
<table class="table table-bordered" id="fileTableGrid">
    <thead class="table-dark">
    	<tr align="center">
    		<th id="rowNum" width="10%">번호</th>
    		<th id="fileType" width="30%">유형</th>
    		<th id="cnt" width="60%">파일 수</th>
    	</tr>
    </thead>
    <tbody>
    	<tr th:each="fileType : ${fileTypeList}" align="center" th:onclick="selectFileList([[${fileType.fileType}]])">
	    	<th scope="row" th:text="${fileType.rownum}"></th>
	    	<td th:text="${fileType.fileType}"></td>
	    	<td th:text="${fileType.cnt}"></td>
	    </tr>
    </tbody>
</table>
</html>

