<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
	<meta charset="UTF-8">
	<title>파일관리</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
	    	<div class="col">				
	    		<h4 style="font-weight: bold;"><i class="fa-regular fa-file"></i>&nbsp;파일관리</h4>
	    	</div>
	    	<div class="col" align="right" style="display:inline-block;">
	    		<button class="btn btn-info" type="button" style="margin-left:2px;" th:onclick="selectFileTypeList();">조회</button>
	    		<button class="btn btn-primary" type="button" style="margin-left:2px;" th:onclick="upload()">파일 Upload(Common)</button>
	    	</div>
	    </div>
		<div class="row" style="margin-top:10px; border:groove; border-radius:10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
			<div class="col-12">
				<h6 style="font-weight: bold;"><i class="fa-solid fa-filter"></i>&nbsp;조회조건</h6>
			</div>
			<div class="col-12">
				<form id="searchForm">
					<table class="table table-bordered">
						<colgroup>
							 <col width="10%" style="background: #E3E3E1"/>
						     <col width="15%" style="background: #FFFFFF"/>
						     <col width="10%" style="background: #E3E3E1"/>
						     <col width="15%" style="background: #FFFFFF"/>
						     <col width="10%" style="background: #E3E3E1"/>
						     <col width="15%" style="background: #FFFFFF"/>
						     <col width="10%" style="background: #E3E3E1"/>
						     <col width="15%" style="background: #FFFFFF"/>
						</colgroup>
						<tr>
							<th><span>파일이름</span></th>
							<td>
								<input type="text" class="form-control form-control-sm" id="sch_fileName" name="sch_fileName">
							</td>
							<th><span>파일유형</span></th>
							<td>
								<select class="form-select form-select-sm" id="sch_fileType" name="sch_fileType" aria-label="fileType">
							  	    <option value="" selected>선택</option>
							  	    <option th:each="fileType : ${fileTypeList}" th:value="${fileType}" th:text="${fileType}"></option>
							    </select>
							</td>
							<th><span>업로드일자</span></th>
							<td>
								<div style="display: flex;">
									<input type="date" class="form-control form-control-sm" id="sch_startDate" name="sch_startDate">
									<span style="margin-right: 5px; margin-left: 5px;">~</span>
									<input type="date" class="form-control form-control-sm" id="sch_endDate" name="sch_endDate">
								</div>
							</td>
							<th><span>BY</span></th>
							<td>
								<input type="text" class="form-control form-control-sm" id="sch_uploadBy" name="sch_uploadBy">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-4" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
				<div class="col">
				    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;파일유형 List</span>
			    </div>
			    <div class="col" style="text-align:center; height:60vh; max-height:60vh; margin-top:10px; overflow-y: auto; overflow-x: auto;">
					<div class="table-responsive" id="divFileTypeList">
						<!-- fileThemeList html bind -->
					</div>
				</div>
			</div>
			<div class="col-8" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
				<div class="col">
				    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;유형별 파일 List( ※ 파일이름을 누르면 다운로드 됩니다.)</span>
			    </div>
			    <div class="col" style="text-align:center; height:60vh; max-height:60vh; margin-top:10px; overflow-y: auto; overflow-x: auto;">
					<div class="table-responsive" id="divFileList">
						<!-- FileList html bind -->
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:replace="/fragments/_modals :: modal('fileUploadModal')">modal</th:block>
</body>
<script type="text/javascript">
$(function(){
	selectFileTypeList();
});

var upload = function(){
	var key = getfileCommonKey();
	openModalPop("#fileUploadModal", "/modals/uploadView", {"refWord" : "COMMON", "refKey" : key});
}

var selectFileTypeList = function(){
	var searchFormData = $("#searchForm").serializeObject();
	serviceParam.type = "GET";
	serviceParam.url = "/file/fileTypeList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = searchFormData;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	$("#divFileTypeList").html(result.value);
	$("#divFileList").html("");
}


var selectFileList = function(fileType){
	var searchFormData = $("#searchForm").serializeObject();
	console.log("searchFormData", searchFormData);
	searchFormData.refWord = fileType;
	
	serviceParam.type = "GET";
	serviceParam.url = "/file/fileList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = searchFormData;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	$("#divFileList").html(result.value);
}

var deleteFile = function(uuid){
	if(confirm("이 파일을 삭제하시겠습니까?")){
		serviceParam.type = "DELETE";
		serviceParam.url = "/file/delete";
		serviceParam.async = false;
		serviceParam.dataType = "json";
		serviceParam.data = JSON.stringify({"uuid" : uuid});
		serviceParam.isReturnValue = true;
		serviceParam.timeout = 0;
		serviceParam.isLoadingBar = true;
		
		var result = callService(serviceParam);
		if(result.Status == "success"){
			swAlert(result.Status, "해당 파일이 삭제 되었습니다.", "S", "OK");
			setTimeout(function(){
				selectFileList();
				swal.close();
				$("#btn_close").click();
			}, 1000);
		}else{
			swAlert(result.Status, "서비스 실행 중 에러가 발생하였습니다.", "E", "OK");
			return;
		}
		
	}
}

</script>
</th:block>
</html>