<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
	<meta charset="UTF-8">
	<title>파일관리</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row" style="margin-top : 10px; margin-bottom : 10px;">
	    	<h4 style="font-weight: bold;"><i class="fa-regular fa-file"></i>&nbsp;파일관리</h4>
	    </div>
	    <div class="row">
			<div style="margin:5px;">
	    		<button class="btn btn-primary" type="button" style="float:right;" th:onclick="upload()">파일 Upload(Common)</button>
	    	</div>
		</div>
		<th:block th:replace="/fragments/_modals :: modal('fileUploadModal')">modal</th:block>
	</div>
</body>
<script type="text/javascript">
function upload(){
	openModalPop("#fileUploadModal", "/modals/uploadView", {});
}
</script>
</th:block>
</html>