 <!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/innerTabLayout}">
<th:block layout:fragment="content">
<head>
	<title>코드정보</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col">
	        <h4 style="font-weight: bold;"><i class="fa-brands fa-codepen"></i>&nbsp;코드정보</h4>
	    </div>
	    <div class="col" align="right" style="display:inline-block;">
			<button type="button" class="btn btn-primary" th:onclick="selectCommonCdMstList();" style="margin-left:2px;">조회</button>
	    </div>
	</div>
	<div class="row" style="margin-top:10px; margin-bottom:10px; border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		<div class="col-12">
			<h6 style="font-weight: bold;"><i class="fa-solid fa-filter"></i>&nbsp;조회조건</h6>
		</div>
		<div class="col-12">
			<form id="searchForm">
				<table class="table table-bordered">
					<colgroup>
						 <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					</colgroup>
					<tr>			
						<th><span>대분류</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_viewName" name="sch_viewName">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="row" style="height:58vh; max-height:58vh;">
				<div class="col" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
					<div class="col-12" style="margin-bottom: 20px;">
					    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;대분류</span>
					    <div style="float:right;">
							<button type="button" class="btn btn-success" th:onclick="insertCommonCdMst();" style="margin-left:2px;"><i class="fa-solid fa-plus"></i></button>
					    </div>
					</div>
					<div class="col-12" style="text-align:center; overflow-y: auto; overflow-x: auto;">
						<div id="codeMstList">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8" id="codeDtlList">
			
		</div>
	</div>
	<th:block th:replace="/fragments/_modals :: modal('codeMstModal')">codeMstModal</th:block>
</div>
</body>
<script type="text/javascript">
$(function(){
	selectCommonCdMstList();
});

/* 1. EnvTypeList function */
//1-1. Env Type List select
var selectCommonCdMstList = function(){
	var searchFormData = $("#searchForm").serializeObject();
	
	serviceParam.type = "GET";
	serviceParam.url = "/common/selectCodeMstList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = searchFormData;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	$("#codeMstList").html(result.value);
}

//1-2. code Master 신규
var insertCommonCdMst = function(){
	openModalPop("#codeMstModal", "/modals/codeMstModal", {"type" : "I"});
}
</script>
</th:block>
</html>