<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	#viewgrid tr:hover{
		cursor: pointer; 
		background: #E6E6E6;
	}
</style>
<div class="col" style="height:58vh; max-height:58vh; border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
	<input type="hidden" th:id="mstCd" th:value="${mstCd}">
	<div class="col-12" style="margin-bottom: 20px;">
	    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;대분류 >> 소분류</span>
	    <span style="font-weight: bold;" th:text="'(' + ${mstCd} + ')'"></span>
	    <div style="float:right;">
			<button type="button" class="btn btn-success" th:id="btnAddDtlCode" th:onclick="insertCommonCdDtl([[${mstCd}]]);" style="margin-left:2px;"><i class="fa-solid fa-plus"></i></button>
	    </div>
	</div>
	<div class="col-12" style="text-align:center; overflow-y: auto; overflow-x: auto;">
			<table class="table table-bordered" id="codeDtlListGrid">
			    <thead class="table-dark">
			    	<tr align="center">
			    		<th width="5%" style="font-size: 11px;">No.</th>
			    		<th width="15%" style="font-size: 11px;">코드</th>
			    		<th width="15%" style="font-size: 11px;">이름</th>
			    		<th width="15%" style="font-size: 11px;">사용여부</th>
			    		<th width="20%" style="font-size: 11px;"></th>
			    	</tr>
			    </thead>
			    <tbody id="viewTableBody">
			    	<tr th:each="codeDtl : ${codeDtlList}" align="center">
				    	<td style="vertical-align: middle;">
				    		<span th:text="${codeDtl.rownum}"></span>
				    	</td>
				    	
				    	<td style="vertical-align: middle;">
				    		<span th:text="${codeDtl.dtlCd}"></span>
				    	</td>
				    	
				    	<td style="vertical-align: middle;">
				    		<span th:text="${codeDtl.dtlNm}"></span>
				    	</td>
				    	
				    	<td style="vertical-align: middle;">
				    		<span th:if="${codeDtl.useYn == 'Y'}">사용</span>
				    		<span th:if="${codeDtl.useYn == 'N'}">미사용</span>
				    	</td>
				    	
				    	<td style="vertical-align: middle;">
				    		<button class="btn btn-info btn-sm" type="button" th:onclick="updateCommonCdDtl([[${codeDtl.dtlCd}]]);">수정</button>
				    		<button class="btn btn-danger btn-sm" type="button" th:onclick="deleteCommonCdDtl([[${codeDtl.dtlCd}]]);">삭제</button>
				    	</td>
				    </tr>
			    </tbody>
			</table>
	</div>
</div>
<script type="text/javascript">

</script>
</html>