<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.board.service.BoardMapper">
	<select id="selectboardList" resultType="map">
		select idx,
			   title,
			   content	  
		  from simpleboard
		 where 1=1
		 <if test="idx != '' and idx != null">
		 	 and idx = #{idx}
		 </if>
		 <if test="keyword != '' and keyword != null">
		     and(
		         title like concat_ws(#{keyword},'%','%') or		
		         content like concat_ws(#{keyword},'%','%')
		     )
		 </if>    
	</select>
	
	<insert id="insertBoardList" parameterType="map">
		insert simpleboard(
			title,
			content
		) values (
			#{title},
			#{content}
		)
	</insert>
	
	<update id="updateBoardList" parameterType="map">
		update simpleboard
		   set title = #{title},
			   content = #{content}
		 where idx = #{idx}   
	</update>
	
	<delete id="deleteBoardList" parameterType="map">
		delete 
		  from simpleboard
		 where idx = #{idx}   
	</delete>
</mapper>