<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.board.service.BoardMapper">
	<select id="selectboardList" resultType="map">
		select idx      as idx,
			   title    as title,
			   content  as content,
               board_no as boardNo,
               writer   as writer,
               reg_date as regDate,
               upt_date as uptDate
		  from simpleboard
		 where 1=1
		 <if test="idx != '' and idx != null">
		   and idx = #{idx}
		 </if>
		 <if test="keyword != '' and keyword != null">
		   and(
		       title like concat_ws(#{keyword},'%','%') or		
		       content like concat_ws(#{keyword},'%','%')
		   )
		 </if>    
	</select>
	
	<insert id="insertBoardList" parameterType="map">
		<selectKey resultType="string" keyProperty="boardNo" order="BEFORE">
	        select concat('B',lpad(ifnull(max(idx),1),4,'0'))  as boardNo
  			  from simpleboard       
	    </selectKey> 
		insert simpleboard(
			title,
			content,
			board_no,
            writer,
            reg_date
		) values (
			#{title},
			#{content},
			#{boardNo},
            #{writer},
            sysdate()
		)
	</insert>
	
	<update id="updateBoardList" parameterType="map">
		update simpleboard
		   set title = #{title},
			   content = #{content},
           	   writer = #{writer},
           	   upt_date = sysdate()
		 where idx = #{idx}   
	</update>
	
	<delete id="deleteBoardList" parameterType="map">
		delete 
		  from simpleboard
		 where idx = #{idx}   
	</delete>
</mapper>