<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.calendar.service.CalendarMapper">
	<select id="selectCalendarList" resultType="com.web.app.calendar.service.CalendarVO"  parameterType="map">
	  select id
			,groupId
			,title
			,writer
			,content
			,DATE_FORMAT(startDate, '%Y-%m-%d %H:%i') as start
            ,DATE_FORMAT(endDate  , '%Y-%m-%d %H:%i') as end 
            ,DATE_FORMAT(startDate, '%Y-%m-%d')       as startDt
            ,DATE_FORMAT(endDate  , '%Y-%m-%d')       as endDt
            ,DATE_FORMAT(startDate, '%H:%i')          as startTi
            ,DATE_FORMAT(endDate  , '%H:%i')          as endTi
			,allDay
			,textColor
			,backgroundColor
			,borderColor
		from calendar
	   where 1=1
	   <if test="id != '' and id != null">
	     and id = #{id}
	   </if>  
	</select>

	<insert id="insertCalendarInfo" parameterType="map">
		insert into calendar(
			 id             
			,groupId        
			,title          
			,writer         
			,content        
			,startDate      
			,endDate        
			,allDay         
			,textColor      
			,backgroundColor
			,borderColor
		) values (
			 (select lpad(ifnull(max(a.id),0)+1, 4, 0) as id from calendar a)
			,(select concat('GRP', lpad(ifnull(max(replace(a.groupId,'GRP','')),0) + 1, 4, 0)) from calendar a)
			,#{title}
			,#{writer}
			,#{content}
			,str_to_date(#{start}, '%Y-%m-%d %H:%i')
			,str_to_date(#{end}  , '%Y-%m-%d %H:%i')
			,#{allDay}
			,#{textColor}
			,#{backgroundColor}
			,#{borderColor}
		)
	</insert>
	
	<update id="updateCalendarInfo" parameterType="map">
 		update calendar
 		   set title           = #{title}
			  ,writer          = #{writer}
			  ,content         = #{content}
			  ,startDate       = str_to_date(#{start}, '%Y-%m-%d %H:%i')
			  ,endDate         = str_to_date(#{end}  , '%Y-%m-%d %H:%i')
			  ,allDay          = #{allDay}
			  ,textColor       = #{textColor}
			  ,backgroundColor = #{backgroundColor}
			  ,borderColor     = #{borderColor}
		 where id = #{id}
	</update>
	
	<delete id="deleteCalendarInfo" parameterType="map">
		delete from calendar where id = #{id} 
	</delete>
</mapper>