<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
    <title>사용자정보</title>
</head>
<body>
<div class="container-fluid">
	<div class="row" style="margin-top : 10px;">
    	<h4 style="font-weight: bold;"><i class="fa-solid fa-users"></i>&nbsp;사용자 정보</h4>
    </div>
	<div class="row">
	    <div id="div_userList" class="col-sm-12">
	        <div class="card">
	    	  	<div class="card-header">
	    	  		<i class="fa-solid fa-list"></i>&nbsp;사용자 목록
	    	  	</div>
	  		    <ul id="userList" class="list-group" th:each="user : ${userList}">
	  		  	    <!-- user테이블에서 List 조회후 binding -->
	  		  	    <li class="list-group-item" th:id=${user.userId} th:text=${user.userId} th:onclick="selectUserInfo([[${user.userId}]])"></li>
	  		    </ul>
	    	</div>
	    </div>
	    <div class="col-sm-6">
	  	    <div id="divUserInfo">
	  	    	
	  	    </div>
	    </div>
	</div>
</div>
</body>
<script type="text/javascript">
$(function(){
	//유저목록 Click
	$("#userList li").on("click", function() {
		$('.list-group-item.active').removeClass("active");
        $(this).addClass("active");
    });
});

var selectUserInfo = function(param){
	serviceParam.type = "POST";
	serviceParam.url = "/user/selectUserInfo";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = param;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	$("#div_userList").attr('class', 'col-sm-6');
	$("#divUserInfo").html(result.value);
}
</script>
</th:block>
</html>