<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<form id="userInfoForm" th:action="@{/user/updateUserInfo}" onsubmit="return chkUserInfo();" th:object="${userform}" method="post" >
	<div class="card text-center">
  	    <div class="card-header">
  	  	    <i class="fa-regular fa-id-card"></i>&nbsp;상세정보
  	    </div>
	    <div class="card-body">
	        <div class="card-body" style="margin: 0 auto;">
			    <img th:src="${userform.fileNm} != '-' ? |/upload/files/${userform.fileNm}| : @{/image/usericon.png}" alt="user_image" height="180">
	      	    <div style="vertical-align: middle; margin-top:10px;">
	      	    	<button type="button" class="btn btn-secondary btn-sm" th:onclick="userimgupload([[${userform.userId}]]);">...</button>
	      	    </div>
		    </div>
		    <div class="card-body" style="margin: 0 auto;">
		        <div class="mb-3 row">
		            <label for="labelUserName" class="col-sm-3 col-form-label">이름</label>
		            <div class="col-sm-9">
		          	    <input type="hidden" th:field="*{userId}">
		                <input type="text" class="form-control form-control-sm" th:field="*{username}">
		            </div>
		        </div>
		        <div class="mb-3 row">
		            <label for="labelEmail" class="col-sm-3 col-form-label">이메일</label>
		            <div class="col-sm-3">
		                <input type="text" class="form-control form-control-sm" placeholder="이메일 ID" th:field="*{emailId}">
		            </div>
		            <div class="col-sm-3">
		                <select class="form-select form-select-sm" aria-label="selectAddr" th:field="*{emailAddr}">
					  	    <option value="" selected>직접입력</option>
					  	    <option th:each="emailAddr : ${emailAddrs}" th:value="${emailAddr}" th:text="${emailAddr}"></option>
					    </select>
		            </div>
		            <div class="col-sm-3">
		                <input type="text" class="form-control form-control-sm" placeholder="주소직접입력" th:field="*{txtEmailAddr}" th:text="${emailAddr} == '' ? ${txtEmailAddr} : ${emailAddr}">
		            </div>  
		        </div>
		        <div class="mb-3 row">
		            <label for="labelBirth" class="col-sm-3 col-form-label">생년월일</label>
		            <div class="col-sm-3">
		                <select class="form-select form-select-sm" aria-label="년도" th:field="*{year}">
			  			    <option th:each="year : ${years}" th:value="${year}" th:text="${year}">
			  			    </option>
			  		    </select>
		            </div>
		            <div class="col-sm-3">
		            	<select class="form-select form-select-sm monbox" aria-label="월" th:field="*{month}">
			  			    <option th:each="month : ${months}" th:value="${month}" th:text="${month}">월</option>
			  		    </select>
		            </div>
		            <div class="col-sm-3">
		            	<select class="form-select form-select-sm" aria-label="일" th:field="*{day}">
			  			    <option th:each="day : ${days}" th:value="${day}" th:text="${day}">월</option>
			  		    </select>
		            </div>
		        </div>
		        <div class="mb-3 row">
		            <label for="labelPhoneNumber" class="col-sm-3 col-form-label">전화번호</label>
		            <div class="col-sm-3">
					    <select class="form-select form-select-sm" aria-label="" th:field="*{serial}">
					  	    <option value="">선택</option>
					  	    <option th:each="serial : ${serials}" th:value="${serial}" th:text="${serial}"></option>
					    </select>
		            </div>
		            <div class="col-sm-3">
					    <input type="text" class="form-control form-control-sm" th:field="*{phoneNum1}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="4">
		            </div>
		            <div class="col-sm-3">
					    <input type="text" class="form-control form-control-sm" th:field="*{phoneNum2}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="4">
		            </div>
		        </div>
		        <div class="mb-3 row">
		            <label for="labelJoinDate" class="col-sm-3 col-form-label">가입일자</label>
		            <div class="col-sm-9">
		                <input type="text" class="form-control-plaintext form-control-sm" id="joinDate" th:field="*{joinDate}" readonly>
		            </div>
		        </div>
		        <div class="mb-3 row">
		        	<label for="labeluserRole" class="col-sm-3 col-form-label">권한</label>
		        	<div class="col-sm-3">
		        		<select class="form-select form-select-sm" aria-label="" th:field="*{userRole}">
						    <option value="" selected>선택</option>
						    <option value="ROLE_ADMIN">관리자</option>
						    <option value="ROLE_USER">사용자</option>
						    <option value="ROLE_GUEST">게스트</option>
						</select>
		        	</div>
		        </div>
		    </div>
	    </div>
	    <div class="card-footer" style="text-align: right;">
      	    <button type="submit" class="btn btn-secondary">수정</button>
      	    <button type="button" class="btn btn-danger" th:onclick="deleteUserInfo([[${userform.userId}]])">삭제</button>
  	    </div>
  	    <div class="card-footer text-muted" th:text="|Last updated ${userform.lastupdatediff} days ago|">
  	    	<small class="text-muted">Last updated 3 mins ago</small>
  	    </div>
    </div>
    <th:block th:replace="/fragments/_modals :: modal('fileUploadModal')">modal</th:block>
</form>
<script type="text/javascript">
$(function(){
	$("#month").on("change", function(){
		var year = $("#year").val();
		var month = $(this).val();
		bindSelectOption("day", getYearMonthByDay(year, month));
	});
	
	$("#emailAddr").on("change keyup paste", function(){
		$("#txtEmailAddr").val("");
	});
	
	$("#txtEmailAddr").on("change keyup paste", function(){
		var val = $(this).val();
		$("#emailAddr").val(val);
	});
});

var deleteUserInfo = function(userId){
	serviceParam.type = "DELETE";
	serviceParam.url = "/user/deleteUserInfo/" + userId;
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = {};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
};

var chkUserInfo = function(){
	var username     = $("#username").val();
	var emailId      = $("#emailId").val();
	var emailAddr    = $("#emailAddr").val();
	var txtEmailAddr = $("#txtEmailAddr").val();
	
	if(username == ""){
		swAlert("이름", "사용자 이름을 입력하세요.", "W", "OK");
		return false;
	};
	if(emailId == ""){
		swAlert("이메일 아이디", "이메일 아이디를 입력하세요.", "W", "OK");
		return false;	
	};
	if(emailAddr == "" && txtEmailAddr == ""){
		swAlert("이메일 주소", "이메일 주소를 입력하세요.", "W", "OK");
		return false;	
	};
	
	setTimeout(function(){
		swal.close();
	}, 3000);
	
}

var userimgupload = function(userId){
	openModalPop("#fileUploadModal", "/modals/uploadView", {"refWord" : "USER", "refKey" : userId});
}

</script>
</html>