<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<head>
        <title>유저정보</title>
    </head>
    <body>
    	<div class="container-fluid">
			<div class="mb-3 row">
			  <p class="h3">h3. Bootstrap heading</p>
			</div>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">First</th>
			      <th scope="col">Last</th>
			      <th scope="col">Handle</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Mark</td>
			      <td>Otto</td>
			      <td>@mdo</td>
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Jacob</td>
			      <td>Thornton</td>
			      <td>@fat</td>
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td colspan="2">Larry the Bird</td>
			      <td>@twitter</td>
			    </tr>
			  </tbody>
			</table>
			
		</div>
    </body>
    <script type="text/javascript">
	    /* var grid;
	    $(function(){		    
		    grid = new tui.Grid({
    		    el: document.getElementById('grid'),
    		    scrollX: false,
    		    scrollY: false,
    		    bodyHeight:300,
    		    rowHeight:30,
    		    columnOptions: {
    		        minWidth: 180
    		    },
    		    columns: [
    		      {header: '아이디', name: 'userId', width: 'auto', align:'center'},
    		      {header: '이름', name: 'username',  width: 'auto', align:'center'},
    		      {header: '이메일', name: 'email', align:'center'},
    		      {header: '가입일자', name: 'joinDate', width: 'auto', align:'center'},
    		      {header: '생년월일', name: 'birth', width: 'auto', align:'center'},
    		      {header: '전화번호', name: 'phone', width: 'auto', align:'center'},
    		      {header: 'index', name: 'idx', align:'center', hidden: 1},
    		    ]
    		});
    		
    		tui.Grid.applyTheme('striped');
    		
    		grid.on('click', (evt) => {
    			
    		});
	    });
    	
    	var selectUserList = function(){
    		$.ajax({
    		    url: '/user/selectUserList',
    		    async: true,
    		    type: 'GET',
    		    data: {},
    		    dataType: 'json',
    		    success: function(data) {
    		    	grid.resetData(data);
    		    	setTimeout(
    		    		grid.refreshLayout(), 
    		    	1000);
    		    },
    		    error: function(jqXHR) {
    		    	console.log("error"); 
    		    },
    		    complete: function(jqXHR) {
    		    	console.log("complete"); 
    		    }
    		});
    	}; */
    </script>
</th:block>
</html>