<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	#menuGrid tr:hover{
		cursor: pointer; 
		background: #E6E6E6;
	}
</style>
<table class="table table-bordered" id="menuGrid">
    <thead class="table-dark">
    	<tr align="center">
    		<th width="5%" style="font-size: 11px;">No.</th>
    		<th width="25%" style="font-size: 11px;">이름</th>
    		<th width="30%" style="font-size: 11px;">경로</th>
    		<th width="10%" style="font-size: 11px;">유형</th>
    		<th width="20%" style="font-size: 11px;"></th>
    	</tr>
    </thead>
    <tbody id="viewTableBody">
    	<tr th:each="menu : ${menuList}" align="center" th:onclick="onMenuTableRowClick([[${menu.menucode}]],[[${menu.menutype}]]);">
	    	<td style="vertical-align: middle;">
	    		<span th:text="${menu.menuorder}"></span>
	    	</td>
	    	<td style="vertical-align: middle;">
	    		<span th:text="${menu.menuname}"></span>
	    	</td>
	    	<td style="vertical-align: middle;">
	    		<span th:text="${menu.menupath}"></span>
	    	</td>
	    	<td style="vertical-align: middle;">
	    		<span th:text="${menu.menutype}"></span>
	    	</td>
	    	<td style="vertical-align: middle;">
	    		<button class="btn btn-info btn-sm" type="button" th:onclick="updateMenuInfo([[${menu.menucode}]]);">수정</button>
	    		<button class="btn btn-danger btn-sm" type="button" th:onclick="deleteMenuInfo([[${menu.menucode}]]);">삭제</button>
	    	</td>
	    </tr>
    </tbody>
</table>
<script type="text/javascript">
//webviewMenu table row Click Event
var onMenuTableRowClick = function(menucode, menutype){
	selectViewList(menucode, menutype);
}

var selectViewList = function(menucode, menutype){
	var paramObj = {"menucode" : menucode, "menutype" : menutype};
	
	serviceParam.type = "GET";
	serviceParam.url = "/webview/viewList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = paramObj;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	$("#viewList").html(result.value);
}

//Menu 수정
var updateMenuInfo = function(menucode){
	openModalPop("#menuModal", "/modals/menuModal", {"menucode" : menucode, "type" : "U"});
}

//Menu 삭제
var deleteMenuInfo = function(menucode){
	var param = {
		"menucode" : menucode	
	};
	
	serviceParam.type = "DELETE";
	serviceParam.url = "/webview/deleteMenuInfo";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify(param);
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	if(result.Status == "success"){
		swAlert(result.Status, "메뉴가 삭제 되었습니다.", "S", "OK");
		setTimeout(function(){
			selectMenuList();
			swal.close();
			$("#btn_close").click();
		}, 1000);
	}else{
		swAlert(result.Status, "서비스 실행 중 에러가 발생하였습니다.", "E", "OK");
		return;
	}
}

</script>
</html>