<div class="modal-header" style="background-color: #DCD776">
	<h5 class="modal-title" th:text="${ModalTitle}" id="modalTitle"></h5>
</div>
<div class="modal-body">
	<form id="modalBodyform">
		<input type="hidden" id="saveBy" name="saveBy" th:value="${#authentication.name}">
		<input type="hidden" th:id="menucode" th:name="menucode" th:value="${menucode}">
		<input type="hidden" th:id="viewcode" th:name="viewcode" th:value="${viewcode}">
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <input class="form-control" type="text" th:id="viewname" th:name="viewname" th:value="${name}" required>
			            <label for="f_viewname">이름</label>
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <select class="form-select form-select-sm" id="useYn" name="useYn" required>
				    		<option value="">선택</option>
				    		<option value="Y" th:selected="${useYn} == 'Y'">사용</option>
						    <option value="N" th:selected="${useYn} == 'N'">미사용</option>
			    		</select>
			    		<label for="f_useYn">사용여부</label>
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <select class="form-select form-select-sm" id="level" name="level" required>
				    		<option value="">선택</option>
				    		<option value="1" th:selected="${level} == '1'">1</option>
						    <option value="2" th:selected="${level} == '2'">2</option>
						    <option value="3" th:selected="${level} == '3'">3</option>
			    		</select>
			    		<label for="f_level">level</label>
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <input class="form-control" type="text" id="viewpath" name="viewpath" th:value="${path}" required>
			            <label for="f_viewpath">경로</label>
			        </div>
			    </div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer" style="background-color: #FBF8EF">
	<button id="btn_save" type="button" class="btn btn-primary">저장</button>
    <button id="btn_close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
</div>
<script type="text/javascript">
var viewcode = "";
$(function(){
	viewcode = $("#viewcode").val();
	
	if(viewcode != ""){
		serviceParam.type = "PUT";	
		serviceParam.url = "/webview/updateViewInfo";
	}else{
		serviceParam.type = "POST";
		serviceParam.url = "/webview/insertViewInfo";
	}
});

$("#btn_save").on("click", function() {
	var formdata = $("#modalBodyform").serializeObject();
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify(formdata);
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = true;
	
	var result = callService(serviceParam);

	if(result.Status == "success"){
		swAlert(result.Status, "저장 되었습니다.", "S", "OK");
	}else{
		swAlert(result.Status, "서비스 실행 중 에러가 발생하였습니다.", "E", "OK");
	}
	
	setTimeout(function(){
		swal.close();
		$("#btn_close").click();
		selectViewList($("#menucode").val(), $("#menutype").val());
	}, 500);
});
</script>
	