<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
    <title>메뉴 및 화면관리</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col">
		    <h4 style="font-weight: bold;"><i class="fa-solid fa-display"></i>&nbsp;메뉴 및 화면관리</h4>
		</div>
		<div class="col" align="right" style="display:inline-block;">
			<button type="button" class="btn btn-primary" style="margin-left:2px;" th:onclick="selectMenuList()">조회</button>
		</div>
	</div>
	<div class="row" style="margin-top:10px; margin-bottom:10px; border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		<div class="col-12">
			<h6 style="font-weight: bold;"><i class="fa-solid fa-filter"></i>&nbsp;조회조건</h6>
		</div>
		<div class="col-12">
			<form id="searchForm">
				<table class="table table-bordered">
					<colgroup>
						 <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					</colgroup>
					<tr>			
						<th><span>화면 이름</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_viewName" name="sch_viewName">
						</td>
						<th><span>사용여부</span></th>
						<td>
							<select class="form-select form-select-sm" th:id="sch_useYn" th:name="sch_useYn">
					    		<option value="">선택</option>
					    		<option value="Y">사용</option>
							    <option value="N">미사용</option>
				    		</select>
						</td>
						<th><span>화면 Level</span></th>
						<td>
							<select class="form-select form-select-sm" th:id="sch_level" th:name="sch_level">
					    		<option value="">선택</option>
					    		<option value="1">1</option>
							    <option value="2">2</option>
							    <option value="3">3</option>
							    <option value="4">4</option>
				    		</select>
						</td>
						<th><span>경로</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_path" name="sch_path">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<div class="row" style="height:65vh; max-height:65vh;">
				<div class="col" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
					<div class="col-12" style="margin-bottom: 20px;">
					    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;메뉴</span>
					    <div style="float:right;">
							<button type="button" class="btn btn-success" th:onclick="insertMenuInfo();" style="margin-left:2px;"><i class="fa-solid fa-plus"></i></button>
					    </div>
					</div>
					<div class="col-12" style="text-align:center; overflow-y: auto; overflow-x: auto;">
						<div id="menuList"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-8" id="viewList">
			
		</div>
	</div>
	
	<th:block th:replace="/fragments/_modals :: modal('menuModal')">menuModal</th:block>
</div>
</body>
<script type="text/javascript">
$(function(){
	selectMenuList();
});

/* 1. menuList function */
//1-1. Menu List select
var selectMenuList = function(){
	var searchFormData = $("#searchForm").serializeObject();
	
	serviceParam.type = "GET";
	serviceParam.url = "/webview/menuList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = searchFormData;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	$("#menuList").html(result.value);
}

//1-2. Menu 신규
var insertMenuInfo = function(){
	openModalPop("#menuModal", "/modals/menuModal", {"type" : "I"});
}

</script>
</th:block>
</html>