table {
	border: 1px 1px 1px 1px #a39485 solid;
    font-size: 0.9em;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow : rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

th, td {
    vertical-align : middle;
    box-shadow: 1px 1px 3px 1px #dadce0;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* layout html css */ 
.layout_header{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height : 56px;
	min-height:56px;
	background: linear-gradient(#FFFFFF, #EEEEEE);
	z-index: 3;
}
/* 
.layout_sidebar{
	width: 10%;
	height : 85vh;
	background: linear-gradient(#FFFFFF, #D8D8D8);
	display:inline-block;
}
 */
.layout_common{
	min-width:100%;
    /* height : 90vh;  */
    height:auto;
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 70px; 
    padding-bottom: 65px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.layout_footer{
	width: 100%;
    height:50px;
    min-height:50px;
    position: fixed;
    background: linear-gradient(#E6E6E6, #A4A4A4);
    bottom: 0;
    left: 0;
    display : flex;
	justify-content: center;
	align-items : center;
	z-index: 2;
}

/* w-btn */
.wrap-box {                                       
    width: 100%;                                  
    height:85vh;                                  
    background-color:#EFFBFB;                     
    text-align:center;                            
}                                                 
.calendar-box {                                   
    position: relative;                           
    border: none;                                 
    display: inline-block;                        
    padding: 15px 30px;                           
    border-radius: 15px;                          
    font-family: "paybooc-Light", sans-serif;     
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);   
    font-weight: 600;                             
}

.w-btn {                                          
    /* position: relative; */                     
    border: none;                                 
    display: inline-block;                        
    padding: 15px 15px;                           
    border-radius: 15px;                          
    font-family: "paybooc-Light", sans-serif;     
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);   
    text-decoration: none;                        
    font-weight: 600;                             
    transition: 0.25s;                            
}                                                 
.w-btn-indigo {                                   
    background-color: #58D3F7;                    
    color: #FFFFFF;                               
    width:100%;
    height:300px;
    margin-top:10px;
    margin-bottom:10px;
}                                                 
.w-btn:hover {                                    
    letter-spacing: 1px;
    transform: scale(1.01);
    cursor: pointer;
}                                                 
.w-btn:active {                                   
    transform: scale(1.01);
}
.w-btn-title{
	font-size: 30px;
}
.w-btn-desc{
	font-size: 20px;
}

.w1p   {width: 1%;}
.w2p   {width: 2%;}
.w3p   {width: 3%;}
.w4p   {width: 4%;}
.w5p   {width: 5%;}
.w6p   {width: 6%;}
.w7p   {width: 7%;}
.w8p   {width: 8%;}
.w9p   {width: 9%;}

.w10p  {width: 10%;}
.w15p  {width: 15%;}
.w20p  {width: 20%;}
.w25p  {width: 25%;}
.w30p  {width: 30%;}
.w35p  {width: 35%;}
.w40p  {width: 40%;}
.w45p  {width: 45%;}
.w50p  {width: 50%;}
.w55p  {width: 55%;}
.w60p  {width: 60%;}
.w65p  {width: 65%;}
.w70p  {width: 70%;}
.w75p  {width: 75%;}
.w80p  {width: 80%;}
.w85p  {width: 85%;}
.w90p  {width: 90%;}
.w95p  {width: 95%;}
.w100p {width: 100%;}
	