@media (min-width:1024px) {
	/* Desktop */
	.w-btn-title{ font-size:30px; }
	.w-btn-element{ font-size:14px; }
	.chart{ min-width:100%; }
	.screenTitle{ font-size: 1.5em; font-weight:bold; }
	.footerTitle{ font-size: 1em; }
	.footerDetail{ font-size: 1em; }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
	/* Tablet */
	.w-btn-title{ font-size:25px; }
	.w-btn-element{ font-size:12px; }
	.chart{ min-width:768px; }
	.screenTitle{ font-size: 1.25em; font-weight:bold; }
	.footerTitle{ font-size: 0.8em; }
	.footerDetail{ font-size: 0.8em; }
	.fc .fc-button{ font-size: 0.6em; }
	.fc .fc-toolbar-title{ font-size: 1.0em; }
}

@media screen and (min-width:598px) and (max-width:767px){
	/* Mobile */
	.w-btn-title{ font-size:15px; }
	.w-btn-element{ font-size:10px; }
	.chart{ max-width:767px; }
	.screenTitle{ font-size: 1.0em; font-weight:bold; }
	.footerTitle{ font-size: 0.6em; }
	.footerDetail{ font-size: 0.6em; }
	.fc .fc-button{ font-size: 0.4em; }
	.fc .fc-toolbar-title{ font-size: 0.6em; }
}

@media screen and (min-width:281px) and (max-width:597px){
	/* Mobile */
	.w-btn-title{ font-size:10px; }
	.w-btn-element{ font-size:7px; }
	.chart{ max-width:597px; }
	.screenTitle{ font-size: 0.75em; font-weight:bold; }
	.footerTitle{ font-size: 0.4em; }
	.footerDetail{ font-size: 0.4em; }
	.fc .fc-button{ font-size: 0.30em; }
	.fc .fc-toolbar-title{ font-size: 0.4em; }
}

@media screen and (max-width:280px){
	/* Mobile(Galaxy Fold) */
	.w-btn-title{ font-size:7px; }
	.w-btn-element{ font-size:5px; }
	.chart{ max-width:280px; }
	.screenTitle{ font-size: 0.5em; font-weight:bold; }
	.footerTitle{ font-size: 0.2em; }
	.footerDetail{ font-size: 0.2em; }
	.fc .fc-button{ font-size: 0.2em; }
	.fc .fc-toolbar-title{ font-size: 0.2em; }
}
