<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonFooter">
	<!-- ==========================Footer============================ -->
	<footer style="text-align: center;">
		<div style="margin-bottom:5px;">
			<img src="/image/github-mark.png" alt="github" width="25" height="25">
			<span style="font-size:1.2em;margin-top:5px;margin-bottom:5px;">github URL</span><br>
		</div>
		<div>
			<span style="font-size:1.0em;margin-top:5px;margin-bottom:5px;">https://github.com/kdw92322/board</span>
		</div>
	</footer>
</th:block>
</html>