<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonFooter">
	<!-- ==========================Footer============================ -->
	<footer style="display:inline-block;">
		<div style="margin:5px;text-align: center;">
			<span class="footerTitle"><i class="fa-brands fa-github fa-bounce fa-lg" style="color: #aab9d5;"></i>Repository URL(github) : </span>
			<span class="footerDetail"><a href="https://github.com/kdw92322/board" target="_blank" style="color:blue;text-decoration-line: none;">https://github.com/kdw92322/board</a></span>
		</div>
	</footer>
</th:block>
</html>