<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonSidebar">
<div id="treeview1" class="treeview"></div>
<style>
	.treeview .list-group-item {
	    cursor: pointer
	}
	
	.treeview span.indent {
	    margin-left: 10px;
	    margin-right: 10px
	}
	
	.treeview span.icon {
	    width: 12px;
	    margin-right: 5px
	}
	
	.treeview .node-disabled {
	    color: silver;
	    cursor: not-allowed
	}
	
	.node-treeview1 {
	
	}
	
	.node-treeview1:not(.node-disabled):hover {
	        background-color: #F5F5F5;
	}
</style>
<script type="text/javascript">
$(function(){
	
	var menuList = new Array();
	//메뉴 전체 조회
	serviceParam.type = "GET";
	serviceParam.url = "/menu/getSideMenuList";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = {"type" : "B"};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	
	if(result.xhr.status == 200){
		menuList = result.value;
	}
	
	var nodeList = convertTreeViewData(menuList);
	
	$('#treeview1').treeview({
		data: nodeList,
		collapseIcon:'fas fa-minus',
		expandIcon:'fas fa-plus',
		
		onNodeSelected: function(event, data) {
			console.log("event", event);
			console.log("data", data);
		}
		
	});
});

function convertTreeViewData(menuList) {
	//node base
	var nodeList = new Array();
	for(var i=0; i<menuList.length; i++){
		var node = new Object();
		
		var menu = menuList[i];
		node["text"] = menu.menuname;
		node["href"] = menu.menupath;
		node["icon"] = "glyphicon glyphicon-stop";
		node["selectedIcon"] = "glyphicon glyphicon-stop";
		
		if(menu["_attributes"] != null){
			node["state"] = {
				expanded : menu["_attributes"]["expanded"]		
			};
		}
		
		if(menu["_children"] != null){
			var children = menu["_children"];
			var node_child_list = new Array();
			for(var j=0; j<children.length; j++){
				var childNode = {
					"text" : children[j]["menuname"],	
					"href" : children[j]["menupath"],
					"icon" : "glyphicon glyphicon-stop",
				    "selectedIcon" : "glyphicon glyphicon-stop"
				}
				node_child_list.push(childNode);
			}
			node["nodes"] = node_child_list;
		}
		nodeList.push(node);
	}
	
	return nodeList;
}





/* 
var defaultData = [
    {
        text: 'Parent 1',
        href: '#parent1',
        tags: ['4'],
        nodes: [
            {
                text: 'Child 1',
                href: '#child1',
                tags: ['2'],
                nodes: [
                    {
                        text: 'Grandchild 1',
                        href: '#grandchild1',
                        tags: ['0']
                    },
                    {
                        text: 'Grandchild 2',
                        href: '#grandchild2',
                        tags: ['0']
                    }
                ]
            },
            {
                text: 'Child 2',
                href: '#child2',
                tags: ['0']
            }
        ]
    },
    {
        text: 'Parent 2',
        href: '#parent2',
        tags: ['0']
    },
    {
        text: 'Parent 3',
        href: '#parent3',
        tags: ['0']
    },
    {
        text: 'Parent 4',
        href: '#parent4',
        tags: ['0']
    },
    {
        text: 'Parent 5',
        href: '#parent5'  ,
        tags: ['0']
    }
];
 */
 

</script>
</th:block>
</html>