<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonModal">
	<!-- ==========================Modal============================ -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalLabel">입력</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	                <form class="form-horizontal">
					    <div class="form-group">
					    	<div class="container">
					    		<div class="mb-3">
							        <label for="title" class="form-label">제목</label>
							        <input type="text" id="title" name="title" class="form-control">
							    </div>
							    <div class="mb-3">
							        <label for="content" class="form-label">내용</label>
							        <textarea class="form-control" id="content" rows="5" placeholder="내용을 입력하세요."></textarea>
							    </div>
							    <div class="mb-3">
							    	<label for="writer" class="form-label">작성자</label>
							        <input type="text" id="writer" name="writer" class="form-control" disabled>
							    </div>
					    	</div>
					    </div>
					</form>
	            </div>
	            <div class="modal-footer">
	                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                <button type="button" class="btn btn-primary">Save changes</button> -->
	                <button type="button" id="btn_save" class="btn btn-info">수정</button>
					<button type="button" id="btn_delete" class="btn btn-danger">삭제</button>
					<button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	                
	            </div>
	        </div>
	    </div>
	</div>
</th:block>
</html>