<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonFooter">
	<!-- ==========================Footer============================ -->
	<footer>
		<div style="margin-bottom:5px;">
			<i class="fa-brands fa-github fa-bounce fa-lg" style="color: #aab9d5;"></i>
			<span style="font-size:1.2em;">Repository URL(github)</span><br>
		</div>
		<div>
			<a href="https://github.com/kdw92322/board" target="_blank" style="color:blue;">https://github.com/kdw92322/board</a>
		</div>
	</footer>
</th:block>
</html>