<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
	<title>게시판</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col" style="margin-top:10px;">
	        <h4 style="font-weight: bold;"><i class="fa-regular fa-pen-to-square"></i>&nbsp;게시판</h4>
	    </div>
	    <div class="col" align="right" style="display:inline-block; margin-top:10px;">
			<button type="button" class="btn btn-primary" th:onclick="selectBoardList();" style="margin-left:2px;">조회</button>
			<button type="button" class="btn btn-secondary" th:onclick="boardModal();" style="margin-left:2px;">추가(Modal)</button>
	    </div>
	</div>
	<div class="row" style="border:groove; border-radius:10px; padding-top:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		<div class="row">
			<div class="col">
				<h6 style="font-weight: bold;"><i class="fa-solid fa-filter"></i>&nbsp;조회조건</h6>
			</div>
		</div>
		<div class="row text-center">
			<form id="searchForm">
				<table class="table table-bordered">
					<colgroup>
						 <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					     <col width="10%" style="background: #E3E3E1"/>
					     <col width="15%" style="background: #FFFFFF"/>
					</colgroup>
					<tr>			
						<th><span>제목</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_title" name="sch_title">
						</td>
						<th><span>내용</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_content" name="sch_content">
						</td>
						<th><span>작성자</span></th>
						<td>
							<input type="text" class="form-control form-control-sm" id="sch_writer" name="sch_writer">
						</td>
						<th><span>작성일</span></th>
						<td>
							<input type="date" class="form-control form-control-sm" id="sch_regDate" name="sch_regDate">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	
	<div class="row" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		<div class="col-12">
		    <span style="font-weight: bold;"><i class="fa-solid fa-list"></i>&nbsp;목록</span>
	    </div>
	    <div class="col-12" style="text-align:center; height:25vh; max-height:25vh; margin-top:10px; overflow-y: auto; overflow-x: auto;">
			<div id="divBoardList">
				<span></span>
			</div>
		</div>
	</div>
	
	<div class="row" style="border: groove; border-radius: 10px; padding:10px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		<div class="col-12">
		    <span style="font-weight: bold;"><i class="fa-solid fa-comments"></i>&nbsp;댓글</span>
		    <div style="float:right;">
				<button type="button" class="btn btn-success" th:onclick="addNewReview();" style="margin-left:2px;"><i class="fa-solid fa-plus"></i></button>
		    </div>
	    </div>
		<div class="col-12" style="text-align:center; height:28vh; max-height:28vh; overflow-y: auto; overflow-x: auto;">
		    <div id="divReviewList" style="width:100%;"></div>
	    </div>
	</div>
	
	<th:block th:replace="/fragments/_modals :: modal('boardModal')">boardModal</th:block>
	<th:block th:replace="/fragments/_modals :: modal('boardReviewModal')">boardReviewModal</th:block>
</div>
	  	
</body>
<script type="text/javascript">
var rowIndex;
$(function(){
	selectBoardList();
});

var selectBoardList = function(){
	
	var param = {
		 sch_title   : $("#sch_title").val()  
		,sch_content : $("#sch_content").val()
		,sch_writer  : $("#sch_writer").val() 
		,sch_regDate : $("#sch_regDate").val()
	}
	
	serviceParam.type = "GET";
	serviceParam.url = "/board/boardList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = param;
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var list = callService(serviceParam);
	$("#divBoardList").html(list.value);
}
	
var boardModal = function(){
	openModalPop("#boardModal", "/modals/boardModal", {"type" : 'I'});
}

var onRowDblClick = function(idx){
	openModalPop("#boardModal", "/modals/boardModal", {"type" : 'U', "idx" : idx});
}

//게시판 글 클릭시 댓글목록 조회
var onRowClick = function(idx){
	rowIndex = idx;
	serviceParam.type = "GET";
	serviceParam.url = "/boardReview/selectreviewList";
	serviceParam.async = false;
	serviceParam.dataType = "text";
	serviceParam.data = {"idx" : idx};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var list = callService(serviceParam);
	$("#divReviewList").html(list.value);
}

/* 
 * 댓글관련 function
 */
var addNewReview = function(){
	if(rowIndex == undefined){
		swAlert("", "댓글을 작성할 게시물을 선택하세요.", "I", "OK");
		return;
	}
	openModalPop("#boardReviewModal", "/modals/boardReviewModal", {"idx": rowIndex, "parentRevNo" : 0, "revLevel" : 1});
}
 
//댓글추가
var addReview = function(index, revNo, revLevel){
	revLevel = Number(revLevel) + 1;
	openModalPop("#boardReviewModal", "/modals/boardReviewModal", {"idx": rowIndex, "parentRevNo" : revNo, "revLevel" : revLevel});
}

var updateReview = function(idx, revNo, revLevel){
	var id = "#txt_" + revNo + "_"+revLevel;
	var revTxt = $(id).val();
	
	var saveMap = {
		"idx" : idx,
		"revNo" : revNo,
		"revTxt" : revTxt
 	};
	
	serviceParam.type = "PUT";
	serviceParam.url = "/boardReview/updateBoardReview";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify(saveMap);
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	onRowClick(idx);
}

var deleteReview = function(idx, revNo, revLevel){
	var saveMap = {
		"idx" : idx,
		"revNo" : revNo
	};
	serviceParam.type = "DELETE";
	serviceParam.url = "/boardReview/deleteBoardReview";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify(saveMap);
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	onRowClick(idx);
}

//Like Count 증가
var updateReviewLike = function(idx, revNo){
	var cnt = Number($("#cntLike_" + revNo).text());
	$("#cntLike_" + revNo).text(cnt + 1);
	serviceParam.type = "PUT";
	serviceParam.url = "/boardReview/updateReviewLike";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify({"idx" : idx, "revNo" : revNo, "cntLike" : cnt + 1});
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	insertLikeAndHateLog(revNo);
	onRowClick(idx);
}

//Hate Count 증가
var updateReviewHate = function(idx, revNo){
	var cnt = Number($("#cntHate_" + revNo).text());
	$("#cntHate_" + revNo).text(cnt + 1);
	serviceParam.type = "PUT";
	serviceParam.url = "/boardReview/updateReviewHate";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify({"idx" : idx, "revNo" : revNo, "cntHate" : cnt + 1});
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
	insertLikeAndHateLog(revNo);
	onRowClick(idx);
}

//Like & Hate Log
var insertLikeAndHateLog = function(revNo){
	serviceParam.type = "POST";
	serviceParam.url = "/boardReview/insertLikeAndHateLog";
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify({"revNo" : revNo});
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	var result = callService(serviceParam);
}

</script>
</th:block>
</html>