<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/commonHeader"></th:block>
</head>
<body>
	<form class="form-horizontal">
	    <div class="form-group">
	        <div class="col-sm-12">
	            <h3 id="pop-title"></h3>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="inputEmail3" class="col-sm-2 control-label">제목</label>
	        <div class="col-sm-12">
	            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요.">
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="inputPassword3" class="col-sm-2 control-label">내용</label>
	        <div class="col-sm-12">
		    	<textarea class="form-control" id="content" rows="5"></textarea>
	        </div>
	    </div>
	    <div class="form-group">
	        <div class="col-sm-offset-2 col-sm-10">
	            <button type="button" id="btn_update" class="btn btn-info">수정</button>
	            <button type="button" id="btn_close" class="btn btn-light">닫기</button>
	        </div>
	    </div>
	</form>
</body>
<script type="text/javascript">
$(function(){
	const urlParams = new URL(location.href).searchParams;
	const idx = urlParams.get('idx');
	console.log(idx);
	
	if(idx != null && idx != "" && idx != undefined){
		$("#pop-title").text("게시물 수정");
	}else{
		$("#pop-title").text("게시물 등록");
	}
});

$("#btn_update").click(function(){
	
});

$("#btn_close").click(function(){
	window.close();
});

</script>
</html>