<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/config"></th:block>
</head>
<style>
	h3 {
	  display: block;
	  font-size: 2em;
	  margin-top: 0.67em;
	  margin-bottom: 0.67em;
	  margin-left: 0;
	  margin-right: 0;
	  font-weight: bold;
	}
</style>
<body>
	<input type="hidden" id="idx" th:value="${idx}"/>
	<form class="form-horizontal">
	    <div class="page-title">
	        <h3 id="pop-title"></h3>
	    </div>
	    <div class="form-group">
	    	<div class="container">
	    		<div class="mb-3">
			        <label for="title" class="form-label">제목</label>
			        <input type="text" id="title" name="title" class="form-control">
			    </div>
			    <div class="mb-3">
			        <label for="content" class="form-label">내용</label>
			        <textarea class="form-control" id="content" rows="5" placeholder="내용을 입력하세요."></textarea>
			    </div>
			    <div class="mb-3">
			    	<label for="writer" class="form-label">작성자</label>
			        <input type="text" id="writer" name="writer" class="form-control" disabled>
			    </div>
			    <div class="mb-3">
				    <button type="button" id="btn_save" class="btn btn-info">수정</button>
		            <button type="button" id="btn_delete" class="btn btn-danger">삭제</button>
		            <button type="button" id="btn_close" class="btn btn-light">닫기</button>
	            </div>
	    	</div>
	    </div>
	</form>
</body>
<script type="text/javascript">
var idx;
$(function(){
	$("#writer").val($("#userId", opener.document).text());
	idx = $("#idx").val();
	if(idx != null && idx != "" && idx != undefined){
		$("#pop-title").text("게시물 수정");
		$("#btn_save").text("수정");
		selectBoardInfo(idx);
	}else{
		$("#pop-title").text("게시물 등록");
		$("#btn_save").text("저장");
		$("#btn_delete").hide();
	}
});

$("#btn_save").click(function(){
	if(idx != null && idx != "" && idx != undefined){
		saveBoardInfo("U");
	}else{
		saveBoardInfo("I");
	}
});

$("#btn_delete").click(function(){
	saveBoardInfo("D");
});


$("#btn_close").click(function(){
	pop_close("C");
});

//조회 function
function selectBoardInfo(idx){
	$.ajax({
	    url: '/board/selectBoardList',
	    async: true,
	    type: 'GET',
	    data: {
	    	idx: $("#idx").val(),
	    },
	    dataType: 'json',
	    success: function(data) {
	    	$("#idx").val(data[0]["idx"]);
	    	$("#title").val(data[0]["title"]);
	    	$("#content").val(data[0]["content"]);
	    	$("#writer").val(data[0]["writer"]);
	    },
	    error: function(jqXHR) {
	    	console.log("error"); 
	    },
	    complete: function(jqXHR) {
	    	console.log("complete"); 
	    }
	});
}

//저장 function(저장, 수정, 삭제)
function saveBoardInfo(type){
	var url = "";
	var mappingType = "";
	var saveObj = new Object();
	saveObj["title"] = $("#title").val();
	saveObj["content"] = $("#content").val();
	saveObj["writer"] = $("#writer").val();
	saveObj["idx"] = $("#idx").val();
	
	if(type == "I"){
		mappingType = "POST";
		url = "/board/insertBoardList";
	}else if(type == "U"){
		mappingType = "PUT";
		url = "/board/updateBoardList";
	}else if(type == "D"){
		mappingType = "DELETE";
		url = "/board/deleteBoardList";
	}
	
	if(url != ""){
		$.ajax({
		    url: url,
		    async: true,
		    type: mappingType,
		    data: JSON.stringify(saveObj),
		    dataType: 'json',
		    contentType: 'application/json',
		    success: function(res) {
		    	var restxt = "";
		    	if(type == "I"){
		    		restxt = "저장 되었습니다.";
		    	}else if(type == "U"){
		    		restxt = "수정 되었습니다.";
		    	}else if(type == "D"){
		    		restxt = "삭제 되었습니다.";
		    	}
		    	
		    	swAlert(restxt, res + " 건 " + restxt, "S", "OK");
		    },
		    error: function(jqXHR) {
		    	console.log("error"); 
		    },
		    complete: function(jqXHR) {
		    	console.log("complete");
		    	pop_close("S");
		    }
		});
	};
}

function pop_close(type){
	if(type == "S"){
		window.opener.selectList();
		setTimeout(function(){
			window.close();
		}, 1500);
	}else{
		window.close();
	}
}

</script>
</html>