<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
	#boardTableBody tr:hover{
		cursor: pointer; 
		background: #E6E6E6;
	}
</style>
<table class="table table-bordered">
    <thead class="table-dark">
    	<tr align="center">
    		<th style="display:none;">Index</th>
    		<th width="8%">게시글 번호</th>
    		<th width="20%">제목</th>
    		<th width="35%">내용</th>
    		<th width="17%">작성자</th>
    		<th width="10%">등록일자</th>
    		<th width="10%">수정일자</th>
    	</tr>
    </thead>
    <tbody id="boardTableBody">
    	<tr th:each="board : ${boardList}" align="center" th:ondblclick="'javascript:onRowClick(\'' + ${board.idx} + '\');'">
	    	<th scope="row" th:text="${board.idx}" style="display:none;"></th>
	    	<th scope="row" th:text="${board.boardNo}"></th>
	    	<td th:text="${board.title}"></td>
	    	<td th:text="${board.content}"></td>
	    	<td th:text="${board.writer}"></td>
	    	<td th:text="${board.regDate}"></td>
	    	<td th:text="${board.uptDate}"></td>
	    </tr>
    </tbody>
</table>
</html>