<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/innerTabLayout}">
<th:block layout:fragment="content">
<head>
	<title>Home</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="row" style="border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
				<span class="screenTitle">
					<i class="fab fa-staylinked"></i>&nbsp;유저정보
				</span>
				<div class="col">
		            <div class="w-btn w-btn-indigo" style="background-color: #1E90FF; box-shadow: 7px 7px #5882FA">
			  		  	<span class="screenTitle">
				        	<i class="fa-solid fa-address-card"></i>
				        </span>
				        <ul style="margin-top:5px;">
			  	    		<li class='w-btn-element'>
			  	    			<span>이름 : </span>
			  	    			<span th:text="${loginID}"></span>
			  	    		</li>
			  	    		<li class='w-btn-element'>
			  	    			<span>이메일 : </span>
			  	    			<span th:text="${Email}"></span>
			  	    		</li>
			  	    		<li class='w-btn-element'>
			  	    			<span>생년월일 : </span>
			  	    			<span th:text="${Birth}"></span>
			  	    		</li>
			  	    		<li class='w-btn-element'>
			  	    			<span>전화번호 : </span>
			  	    			<span th:text="${Phone}"></span>
			  	    		</li>
			  	    		<li class='w-btn-element'>
			  	    			<span>가입일자 : </span>
			  	    			<span th:text="${JoinDate}"></span>
			  	    		</li>
			  	    		<li class='w-btn-element'>
			  	    			<span>권한 : </span>
			  	    			<span th:text="${Auth}"></span>
			  	    		</li>
			  	    	</ul>
		  		    </div>
		  	    </div>
			</div>
		</div>
		<div class="col-md-3">
			<!-- 1.Daily Info -->
		    <div class="row" style="border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
		        <span class="screenTitle">
		        	<i class="fab fa-staylinked"></i>&nbsp;일시
		        </span>
		        <div class="col">
		            <div class="w-btn w-btn-indigo" style="background-color: #A9E2F3;">
		  		  	    <div>
		  		  	    	<p class="w-btn-title"><i class="fa-regular fa-calendar"></i></p>
		  		  	    	<p class="w-btn-desc" id="today"></p>
		  		  	    </div>
		  		  	    <div>
		  	    			<p class="w-btn-title"><i class="fa-regular fa-clock"></i></p>
		  	    			<p class="w-btn-desc" id="now"></p>
		  	    		</div>
		  		    </div>
		  	    </div>
		    </div>
		</div>
		<div class="col-md-3">
			<div class="row" style="border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
				<span class="screenTitle">
		        	<i class="fab fa-staylinked"></i>&nbsp;날씨정보
		        </span>
				<div class="col">
		  	    	<div class="w-btn w-btn-indigo">
		  	    		<div class="row">
		  	    			<div class="col-md-7">
		  	    				<span class="w-btn-title"><i class="fa-solid fa-temperature-half"></i></span>
		  	    				<ul id="weatherInfo">
		  	    				
		  	    				</ul>
		  	    			</div>
		  	    			<div class="col-md-5" style="display: flex; justify-content: center; align-items: center">
		  	    				<span id="icon"></span>
		  	    			</div>
		  	    		</div>
		  	        </div>
		  	    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="row" style="border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
				<span class="screenTitle">
		        	<i class="fa-regular fa-images"></i>&nbsp;Image Viewer
		        </span>
				<div class="col">
					<!-- Carousel -->
		  	    	<div id="carousel" style="padding:3px; z-index: 1;">
				        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
					  	    <!-- Dynamic image ADD -->
					  	    <div class="carousel-inner">
					  	    	<!-- 
					  	        <div class="carousel-item active">
					  	            <img alt="No Image!!" src="http://localhost:9000/upload/files/614986b5c1c347c7a348bc6fa167f460.png" width="400" height="314">
					  	        </div>
					  	        <div class="carousel-item">
					  	            <img alt="No Image!!" src="http://localhost:9000/upload/files/ab5907d680214084be317b5e27d3ddb5.jpg" width="400" height="314">
					  	        </div>
					  	        <div class="carousel-item">
					  	  	        <img alt="No Image!!" src="http://localhost:9000/upload/files/dc8f75f83fad4c208ffd54b78dd69dfb.jpeg" width="400" height="314">
					  	        </div>
					  	         -->
					  	    </div>
					  	    <!-- end -->
					  	    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="background-color: #000000;">
					  	        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  	        <span class="visually-hidden">Previous</span>
					  	    </button>
					  	    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="background-color: #000000;">
					  	        <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  	        <span class="visually-hidden">Next</span>
					  	    </button>
					    </div>
				    </div>
		  	    </div>
			</div>
		</div>
	</div>
    
    <!-- 2.Calendar -->
    <div class="row" style="margin-top:15px; border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
    	<span class="screenTitle">
    		<i class="far fa-calendar-alt"></i>&nbsp;달력
    	</span>
    	<div id="calendar" style="padding:3px; z-index: 1;"></div>
    </div>
    
    <!-- 3.Chart --> 
    <div class="row" style="margin-top:15px; border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
    	<div class="col">
    		<div class="row">
    			<div class="col">
    				<span class="screenTitle"><i class="fa-solid fa-chart-simple"></i>&nbsp;접속기록</span>
    			</div>
    			<div class="col" style="text-align : right;">
	    			<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="connectLogTypeOption" id="Week" value="W">
					  <label class="form-check-label" for="inlineRadio1">주별</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="connectLogTypeOption" id="Month" value="M">
					  <label class="form-check-label" for="inlineRadio2">월별</label>
					</div>
    			</div>
    		</div>
    		<div class="row">
	    		<div id="mychart" class="chart" style="height:400px; z-index: 1;"></div>
    		</div>
    	</div>
    </div>
    <th:block th:replace="/fragments/_modals :: modal('dayInfoModal')">modal</th:block>
</div>
</body>
<script type="text/javascript">
var chart_data_cnt = 7;
var calendar;
var myChart;
var toDayInfo;

$(function(){
	setTimeout(function(){
		toDayInfo = initToday(); //오늘일자 Init
		initTimer(); //현재시간 Init
		
		initCalendar(toDayInfo.year, toDayInfo.month, toDayInfo.day);
	}, 1000);
	
	//Image Viewer Load
	setImageViewer();
	
	//날씨정보 load
	let apiurl = "http://api.openweathermap.org/data/2.5/weather?lat=35.2281&lon=128.6811&units=metric&cnt=5&appid=076b2699669346332a018f57695532e9";
	fetch(apiurl)
	.then((response) =>  response.json())
	.then((data) => initWeatherInfo(data))
	
	setGraphType('W');
	setTimeout(function(){
		myChart.resize();
	}, 1000);
});

$('input[type=radio][name=connectLogTypeOption]').change(function(){
	var value = $(this).val();
	if(value == 'M'){
		setGraphType('M');
	}else{
		setGraphType('W');
	}
});

var initWeatherInfo = function(info){
	//날씨 icon
	var icon_image =  "<img src=https://openweathermap.org/img/wn/" + info["weather"][0]["icon"] + ".png " + "width=100 " + "height=100" + ">";
	$("#icon").append(icon_image);
	
	var local = "<li class='w-btn-element'>" + "지역 : " + info["name"] + ", " + info.sys["country"] + "</li>";
	$("#weatherInfo").append(local);
	
	var temp = "<li class='w-btn-element'>" + "온도 : " + Math.round(info["main"]["temp"]) + "℃" + "</li>";
	$("#weatherInfo").append(temp);
	
	var pressure = "<li class='w-btn-element'>" + "대기압 : " + info["main"]["pressure"] + "hPa" + "</li>";
	$("#weatherInfo").append(pressure); 

	var humidity = "<li class='w-btn-element'>" + "습도 : " + info["main"]["humidity"] + "%" + "</li>";
	$("#weatherInfo").append(humidity);
	
	var Wind_Speed = "<li class='w-btn-element'>" + "풍속 : " + info["wind"]["speed"] + "m/s" + "</li>";	
	$("#weatherInfo").append(Wind_Speed);
	
	var Wind_Direction = "<li class='w-btn-element'>" + "풍향 : " + info["wind"]["deg"] + "도" + "</li>";	
	$("#weatherInfo").append(Wind_Direction);
	
	var Wind_Flaw = "<li class='w-btn-element'>" + "돌풍 : " + info["wind"]["gust"] + "m/s" + "</li>";	
	$("#weatherInfo").append(Wind_Flaw);
}

//Today 일자 표시(년,월, 일 정보 객체 return)
var initToday = function(){
	
	const now = new Date();
    var year = now.getFullYear();
    var month = ("0" + (1 + now.getMonth())).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
	
    const week = ['일', '월', '화', '수', '목', '금', '토'];
    var weekDay = week[now.getDay()];
    
    var today =  year + "년 " + month + "월 " + day + "일, " + weekDay + "요일";
    $("#today").text(today);
    
    var rtnObj = {
    	year : year,
    	month : month,
    	day : day
    };

    return rtnObj;
    //initCalendar(year, month, day);
}

//현재시간 표시
var initTimer = function(){
	setInterval(function(){
		const now = new Date();
		var hour = now.getHours();
		hour = (hour < 10) ? ('0' + hour) : hour;
	    var minutes = now.getMinutes();
	    minutes = (minutes < 10) ? ('0' + minutes) : minutes;
	    var seconds = now.getSeconds();
	    seconds = (seconds < 10) ? ('0' + seconds) : seconds;
	    
	    var nowTime = hour + "시 " + minutes + "분 " + seconds + "초";
	    $("#now").text(nowTime);
	}, 1000);
}

var initCalendar = function(){
	const now = new Date();
	var year = now.getFullYear();
    var month = ("0" + (1 + now.getMonth())).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
    
	var today = year + month + day;
	var calendarEl = $('#calendar')[0];
	var calendar_param = new Object();

 
	calendar = new FullCalendar.Calendar(calendarEl, {
		headerToolbar: {
			left: 'dayGridMonth,timeGridWeek,timeGridDay Add',
	        center: 'title',	
		    right: 'today prev next'
		},
		locale:'ko',
		selectable: true,
		selectMirror: true,
		height:700,
		contentHeight: 800,
		editable: true,
		droppable: true,
		drop: function(info) {
		    if (checkbox.checked) {
		        info.draggedEl.parentNode.removeChild(info.draggedEl);
		    }
		},
		eventClick: function(info) {
			calendar_param = {
				id : info.event.id
			};
			openModalPop("#dayInfoModal", "/modals/dayInfo", calendar_param);
		},
		events: selectCalendarList(),
		customButtons: {
		    Add: {
	            text: '일정추가',
	            click: function() {
	            	openModalPop("#dayInfoModal", "/modals/dayInfo", {});
	            }
	        }
	    },
	    themeSystem : 'bootstrap5'
	});
	calendar.render();
}

var selectCalendarList = function(){
	serviceParam.type = "GET";
	serviceParam.url = "/calendar/selectCalendarList?writer="+$("#loginUserId").text();
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = {};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	return result.value;
}

var setGraphType = function(type){
	$(":radio[name='connectLogTypeOption'][value='" + type + "']").attr('checked', true);

	initGraph(type);
}

var initGraph = function(type){
	var optionObject;
	
	if(type == 'W'){
		optionObject = makeOptionResource1(type); //주별 접속기록 그래프(bar)
	}else{
		optionObject = makeOptionResource2(type); //월별 접속기록 그래프(Line)
	}
	myChart = echarts.init(document.getElementById('mychart'));
    
    myChart.setOption({baseOption : optionObject});
}

var makeOptionResource1 = function(type){
	var option;
	var xAxisDataTop = new Array();
	var xAxisData = new Array();
	var seriesData = new Array();
	
	serviceParam.type = "GET";
	serviceParam.url = "/user/getConnUserLogData?userId=" + $("#loginUserId").text() + "&type=" + type;
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = {};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	var resultList = result.value;
	for(var i=0; i<resultList.length; i++){
		var obj = resultList[i]

		xAxisDataTop.push(obj["DT"]);
		xAxisData.push(codeToday(obj["DAYCODE"], 'kr'));
		
		var today = DateToStringFormat(new Date());
		today = today.substring(0, 10);
		
		if(obj["DT"] == today){
			var itemObj = {
				value : obj["CNT"],
				itemStyle : {color: '#a90000'} 	
			}
			seriesData.push(itemObj);
		}else{
			seriesData.push(obj["CNT"]);
		}
	}
	option = {
		tooltip: {
		    trigger: 'axis',
		    axisPointer: {
		      type: 'shadow'
		    },
		    formatter: function (params) {
		      var tar = params[0];
		      return tar.name + '<br>' + '접속횟수 : ' + tar.value;
		    }
		},	
		grid: {
		    left: '3%',
		    right: '4%',
		    bottom: '3%',
		    containLabel: true
		},		
		xAxis: [
		  {
			  type: 'category',
			  boundaryGap: true,
			  data: xAxisData  
		  }	
	    ],
	    yAxis: {
	      type: 'value'
	    },
	    series: [
	       {
	         data: seriesData,
	         type: 'bar',
	         showBackground: true,
	         backgroundStyle: {
	             color: 'rgba(180, 180, 180, 0.2)'
	         }
	       }
	    ]
	};
	
	return option;
}

var makeOptionResource2 = function(type){
	var option;
	var xAxisData = new Array();
	var seriesData = new Array();
	
	serviceParam.type = "GET";
	serviceParam.url = "/user/getConnUserLogData?userId=" + $("#loginUserId").text() + "&type=" + type;
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = {};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	var resultList = result.value;
	
	for(var i=0; i<resultList.length; i++){
		var obj = resultList[i]

		xAxisData.push(obj["DT"]);
		
		var today = DateToStringFormat(new Date());
		today = today.substring(0, 10);
		
		if(obj["DT"] == today){
			var itemObj = {
				value : obj["CNT"],
				itemStyle : {color: '#a90000'} 	
			}
			seriesData.push(itemObj);
		}else{
			seriesData.push(obj["CNT"]);
		}
	}
	option = {
		tooltip: {
		    trigger: 'axis',
		    axisPointer: {
		      type: 'shadow'
		    },
		    formatter: function (params) {
		      var tar = params[0];
		      return tar.name + '<br>' + '접속횟수 : ' + tar.value;
		    }
		},	
        xAxis: {
            type: 'category',
            data: xAxisData
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: seriesData,
                type: 'line'
            }
        ]
    };
	
	return option;
}

var setImageViewer = function(){
	serviceParam.type = "GET";
	serviceParam.url = "/common/indexFileViewerList?loginUserId=" + $("#loginUserId").text();
	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = {};
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = false;
	
	var result = callService(serviceParam);
	
	var indexFileList = result.value;
	
	//1. init
	$(".carousel-inner").empty();

	//2. append
	var html = "";
	/*
	if(indexFileList.length > 0){
		for(var i=0; i<indexFileList.length; i++){
			var indexfile = indexFileList[i];
			if(i == 0){
				html += '<div class="carousel-item active">';
			}else{
				html += '<div class="carousel-item">';
			}
		    html += '    <img alt="' + indexfile["originName"] + '" src="http://localhost:9000/upload/files/' + indexfile["fileName"] + '" width="410" height="281">';
		    html += '</div>';
		}
	}else{
		html += '<div class="carousel-item active">';
		html += '    <img alt="No Image!!" src="http://localhost:9000/upload/files/no-image.png" width="410" height="284">';
	    html += '</div>';
	}
	*/
	html += '<div class="carousel-item active">';
	html += '    <img alt="No Image!!" src="http://localhost:9000/upload/files/no-image.png" width="352" height="284">';
    html += '</div>';

	$(".carousel-inner").append(html);
}

</script>
</th:block>
</html>