<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
</head>
<body>
<div class="container-fluid">
	<!-- 1.Daily Info -->
    <div class="row" style="border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
        <span class="screenTitle"><i class="fab fa-staylinked"></i>&nbsp;Daily</span>
        <div class="col-md-4">
            <div class="w-btn w-btn-indigo" style="background-color: #A9E2F3;">
  		  	    <div>
  		  	    	<p class="w-btn-title">Day <i class="fa-regular fa-calendar"></i></p>
  		  	    	<p class="w-btn-desc" id="today"></p>
  		  	    </div>
  		    </div>
  	    </div>
  	    <div class="col-md-4">
  	    	<div class="w-btn w-btn-indigo" style="background-color: #81DAF5;">
  	    		<div>
  	    			<p class="w-btn-title">Time <i class="fa-regular fa-clock"></i></p>
  	    			<p class="w-btn-desc" id="now"></p>
  	    		</div>
  	    	</div>
  	    </div>
  	    <div class="col-md-4">
  	    	<div class="w-btn w-btn-indigo">
  	    		<div style="width:30%; height:100%; float:left;">
  	    			<div style="height:40%">
	  	    			<span class="w-btn-title">Weather <i class="fa-solid fa-temperature-half"></i></span>
		  	    	</div>
		  	    	<div style="height:60%; display: flex; justify-content: center; align-items: center;">
						<span id="icon"></span>
		  	    	</div>
		  	    </div>
		  	    <div style="width:70%; height:100%; float:right;">
		  	        <div style="display:inline-block;">
		  	       		<ul id="weatherInfo"></ul>
	  	    	    </div>
		  	    </div>
  	        </div>
  	    </div>
  		<th:block th:replace="/fragments/_modals :: modal('dayInfoModal')">modal</th:block>
    </div>
    
    <!-- 2.Calendar -->
    <div class="row" style="margin-top:30px; border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
    	<span class="screenTitle"><i class="far fa-calendar-alt"></i>&nbsp;Calendar</span>
    	<div id="calendar" style="padding:3px; z-index: 1;"></div>
    </div>
    
    <!-- 3.Chart --> 
    <div class="row" style="margin-top:30px; border:groove; border-radius:10px; padding:10px; background-color: #F5F5F5; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);">
    	<span class="screenTitle"><i class="fa-solid fa-chart-simple"></i>&nbsp;Chart</span>
    	<div id="mychart" class="chart" style="height:400px; z-index: 1;"></div>
    </div>
</div>
</body>
<script type="text/javascript">
var chart_data_cnt = 7;
var calendar;
var myChart;

$(function(){
	initToday();//오늘일자 Init
	initTimer();//현재시간 Init
	
	//날씨정보 setUp
	let apiurl = "http://api.openweathermap.org/data/2.5/weather?lat=35.2281&lon=128.6811&units=metric&cnt=5&appid=076b2699669346332a018f57695532e9";
	//GET방식
	fetch(apiurl)
	  .then((response) =>  response.json())
	  .then((data) => initWeatherInfo(data))
	  
	setInterval(() => {
		initGraph(); 
	}, 2000);
});

var initWeatherInfo = function(info){
	//날씨 icon
	var icon_image =  "<img src=https://openweathermap.org/img/wn/" + info["weather"][0]["icon"] + ".png " + "width=90 " + "height=90" + ">";
	$("#icon").append(icon_image);
	
	var local = "<li class='w-btn-element'>" + "Local : " + info["name"] + ", " + info.sys["country"] + "</li>";
	$("#weatherInfo").append(local);
	
	var temp = "<li class='w-btn-element'>" + "Temp : " + Math.round(info["main"]["temp"]) + "℃" + "</li>";
	$("#weatherInfo").append(temp);
	
	var pressure = "<li class='w-btn-element'>" + "Atmospheric Pressure : " + info["main"]["pressure"] + "hPa" + "</li>";
	$("#weatherInfo").append(pressure); 

	var humidity = "<li class='w-btn-element'>" + "Humidity : " + info["main"]["humidity"] + "%" + "</li>";
	$("#weatherInfo").append(humidity);
	
	var Wind_Speed = "<li class='w-btn-element'>" + "Wind Speed : " + info["wind"]["speed"] + "m/s" + "</li>";	
	$("#weatherInfo").append(Wind_Speed);
	
	var Wind_Direction = "<li class='w-btn-element'>" + "Wind Direction : " + info["wind"]["deg"] + "도," + "</li>";	
	$("#weatherInfo").append(Wind_Direction);
	
	var Wind_Flaw = "<li class='w-btn-element'>" + "Wind Flaw : " + info["wind"]["gust"] + "m/s" + "</li>";	
	$("#weatherInfo").append(Wind_Flaw);
}

//Today 일자 표시
var initToday = function(){
	const now = new Date();
    var year = now.getFullYear();
    var month = ("0" + (1 + now.getMonth())).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
	
    const week = ['일', '월', '화', '수', '목', '금', '토'];
    var weekDay = week[now.getDay()];
    
    var today =  year + "년 " + month + "월 " + day + "일, " + weekDay + "요일";
    $("#today").text(today);
    
    initCalendar(year, month, day);
}

//현재시간 표시
var initTimer = function(){
	setInterval(function(){
		const now = new Date();
		var hour = now.getHours();
		hour = (hour < 10) ? ('0' + hour) : hour;
	    var minutes = now.getMinutes();
	    minutes = (minutes < 10) ? ('0' + minutes) : minutes;
	    var seconds = now.getSeconds();
	    seconds = (seconds < 10) ? ('0' + seconds) : seconds;
	    
	    var nowTime = hour + "시 " + minutes + "분 " + seconds + "초";
	    $("#now").text(nowTime);
	}, 1000);
}

var initCalendar = function(){
	const now = new Date();
	var year = now.getFullYear();
    var month = ("0" + (1 + now.getMonth())).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
    
	var today = year + month + day;
	var calendarEl = $('#calendar')[0];
	var calendar_param = new Object();
	var eventList;
	 
	calendar = new FullCalendar.Calendar(calendarEl, {
		/* plugins: [ 'dayGrid', 'timeGrid' ], */
		headerToolbar: {
			left: 'dayGridMonth,timeGridWeek,timeGridDay Add',
	        center: 'title',	
		    right: 'today prev next'
		},
		locale:'ko',
		selectable: true,
		selectMirror: true,
		height:700,
		contentHeight: 800,
		editable: true,
		droppable: true,
		drop: function(info) {
		    if (checkbox.checked) {
		        info.draggedEl.parentNode.removeChild(info.draggedEl);
		    }
		},
		eventClick: function(info) {
			calendar_param = {
				id : info.event.id
			};
			openModalPop("#dayInfoModal", "/modals/dayInfo", calendar_param);
		},
		events: selectCalendarList(),
		customButtons: {
		    Add: {
	            text: '일정추가',
	            click: function() {
	            	openModalPop("#dayInfoModal", "/modals/dayInfo", {});
	            }
	        }
	    },
	    themeSystem : 'bootstrap5'
	});
	calendar.render();
}

var selectCalendarList = function(){
	var result = callService("GET", "/calendar/selectCalendarList", false, 'json', {}, true, 0);
	return result.value;
}

var initGraph = function(){
	var dataList = makeRandomSeries();
	
	myChart = echarts.init(document.getElementById('mychart'));
    // 차트 속성과 데이터를 지정합니다.
    var option = {
    	title: {},
    	tooltip: {
    		trigger: 'axis'
    	},
    	legend: {
    		data: ['A', 'B', 'C']
    	},
    	grid: {
		    left: '2%',
		    right: '3%',
		    bottom: '2%',
		    containLabel: true
    	},
	    toolbox: {
	        feature: {
	            saveAsImage: {}
	        }
	    },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['Sun','Mon', 'Tue', 'Wed', 'Thu', 'Fri','Sat']
        },
        yAxis: {
            type: 'value'
        },
        series: dataList
    };
    myChart.setOption({baseOption : option});
}

//Temp DataList Series 생성
var makeRandomSeries = function(){
	var dataListA = makeRandomDataList();
	var dataListB = makeRandomDataList();
	var dataListC = makeRandomDataList();

	var lineChartSeries = [
		{
			data:dataListA,
			name:'A',
			type:'line',
			smooth: true
		},
		{
			data:dataListB,
			name:'B',
			type:'line',
			smooth: true
		},
		{
			data:dataListC,
			name:'C',
			type:'line',
			smooth: true
		}
	];

	return lineChartSeries;
}

var makeRandomDataList = function(){
	var dataList = new Array();
	for(var i=0; i<chart_data_cnt; i++){
		var num = Math.round(Math.random()*500);
		dataList.push(num);
	}
	return dataList;
}

$(window).on('resize', function(){
    myChart.resize();
});

</script>
</th:block>
</html>