<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link th:href="@{/css/loginForm.css}" rel="stylesheet"/>
	<th:block th:replace="fragments/config"></th:block>
	<title>로그인</title>
</head>
<body>
	<div class="wrap_container">
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<div class="my-3 border-bottom">
					    <h1>로그인</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<form th:action="@{/user/loginProcess}" method="post">
					    <div th:if="${param.error}">
					        <div class="alert alert-danger">
					            사용자ID 또는 비밀번호를 확인해 주세요.
					        </div>
					    </div>
					    <div class="mb-3" style="padding-top:8px;">
					        <label for="username" class="form-label"><span class="req">*</span>사용자ID</label>
					        <input type="text" name="username" id="username" class="form-control" required>
					    </div>
					    <div class="mb-3" style="padding-top:8px;">
					        <label for="password" class="form-label"><span class="req">*</span>비밀번호</label>
					        <input type="password" name="password" id="password" class="form-control" required>
					    </div>
					    <button type="submit" class="btn btn-primary" style="margin-top: 8px;">로그인</button>
					    <button type="button" class="btn btn-primary" style="margin-top: 8px;" th:onclick="location.href='http://localhost:9000/user/signup'">회원가입</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>