<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link th:href="@{/css/loginForm.css}" rel="stylesheet"/>
	<th:block th:replace="fragments/config"></th:block>
	<title>로그인</title>
</head>
<body>
	<div class="wrapper">
		<div class="inner_wrapper">
			<div class="mb-3 row">
				<div class="col-sm-12">
					<div class="my-3 border-bottom">
					    <h1>로그아웃</h1>
					</div>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-sm-12">
					로그아웃 되었습니다.<br>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-sm-12">
					<span id="countDown" style="font-weight: bold;"></span>초 후에 로그인 화면으로 돌아갑니다.
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
var timeout = 3000;
var timeoutCnt = (timeout/1000);
$("#countDown").text(timeoutCnt);

$(function(){
	setInterval(() => {
		console.log(timeoutCnt);
		if(timeoutCnt < 1){
			window.location.href = '/';
		}else{
			timeoutCnt -= 1
			$("#countDown").text(timeoutCnt);
		}
	}, 1000);
	
});
</script>
</html>