<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org">	  
<head>
	<meta charset="UTF-8">
	<th:block th:replace="fragments/config"></th:block>
	<title>회원가입</title>
	<style>
		.req {
		    color: red;
		}
	</style>
</head>
<body>
	<div class="container" style="width:600px;">
		<div class="my-3 border-bottom">
	        <div>
	            <h1>회원가입</h1>
	        </div>
	    </div>
	    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
	        <!-- <div th:replace="~{form_errors :: formErrorsFragment}"></div> -->
	        <label for="username" class="form-label"><span class="req">*</span>ID/UserName</label>
	        <div class="mb-3" style="padding-top:5px;">
	            <input type="text" th:field="*{userId}" class="form-control" style="width:285px;display:inline-block;" required>
	            <input type="text" th:field="*{username}" class="form-control" style="width:285px;display:inline-block;" required>
	        </div>
	        
	        <label for="password1" class="form-label"><span class="req">*</span>비밀번호/확인</label>
	        <div class="mb-3" style="padding-top:5px;">
	            <input type="password" th:field="*{password1}" class="form-control" style="width:285px;display:inline-block;" required>
	            <input type="password" th:field="*{password2}" class="form-control" style="width:285px;display:inline-block;" required>
	        </div>
	        
	        <label for="email" class="form-label"><span class="req">*</span>이메일</label>
	        <div class="mb-3" style="padding-top:5px;">
	            <input type="email" th:field="*{email}" class="form-control" required>
	        </div>
	        
	        <label for="birth" class="form-label">생년월일</label>
	        <div class="mb-3" style="padding-top:5px;">
	            <input type="text" th:field="*{birth}" class="form-control">
	        </div>
	        
	        <label for="phone" class="form-label">휴대폰번호(-없이 입력)</label>
	        <div class="mb-3" style="padding-top:5px;">
	            <input type="text" th:field="*{phone}" class="form-control">
	        </div>
	        <button type="submit" class="btn btn-primary" style="margin-top: 5px;">계정등록</button>
	        <button type="button" class="btn btn-primary" style="margin-top: 5px;" th:onclick="location.href='http://localhost:9000/user/login'">로그인 이동</button>
	    </form>
    </div>
</body>
</html>