<div class="modal-header" style="background-color: #DCD776">
	<h5 class="modal-title" th:text="${ModalTitle}" id="modalTitle"></h5>
</div>
<div class="modal-body">
	<form id="modalBodyform">
		<input type="hidden" th:id="saveBy"     th:name="saveBy"     th:value="${#authentication.name}">
		<input type="hidden" th:id="parentcode" th:name="parentcode" th:value="${parentcode}">
		<input type="hidden" th:id="menucode"   th:name="menucode"   th:value="${menucode}">
		<input type="hidden" th:id="type"       th:name="type"       th:value="${type}">
		<input type="hidden" th:id="level"      th:name="level"      th:value="${level}">
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <input class="form-control" type="text" th:id="menuname" th:name="menuname" th:value="${menuname}" required>
			            <label for="f_menuname">Name</label>
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <input class="form-control" type="text" th:id="menupath" th:name="menupath" th:value="${menupath}" required>
			            <label for="f_menupath">Path</label>
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-floating mb-3">
			<div class="row g-2">
			    <div class="col-md">
			        <div class="form-floating">
			            <input class="form-control" type="text" th:id="menuorder" th:name="menuorder" th:value="${menuorder}" required>
			            <label for="f_menuorder">Order</label>
			        </div>
			    </div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer" style="background-color: #FBF8EF">
	<button id="btn_save" type="button" class="btn btn-primary">저장</button>
    <button id="btn_close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
</div>
<script type="text/javascript">
var type = $("#type").val();
$(function(){
	if(type == "I"){
		serviceParam.type = "POST";
		serviceParam.url = "/menu/insertMenuInfo";
	}else if(type == "U"){
		serviceParam.type = "PUT";	
		serviceParam.url = "/menu/updateMenuInfo";
	}
	
	$("#menutype").on("change", function(){
		var value = $(this).val();
		if(value == 'view'){
			$("#menupath").attr("disabled", false);
		}else if(value == 'menu'){
			$("#menupath").attr("disabled", true);
		}
	});
});

$("#btn_save").on("click", function() {
	var formdata = $("#modalBodyform").serializeObject();

	serviceParam.async = false;
	serviceParam.dataType = "json";
	serviceParam.data = JSON.stringify(formdata);
	serviceParam.isReturnValue = true;
	serviceParam.timeout = 0;
	serviceParam.isLoadingBar = true;
	
	var result = callService(serviceParam);

	if(result.Status == "success"){
		swAlert(result.Status, "저장 되었습니다.", "S", "OK");
	}else{
		swAlert(result.Status, "서비스 실행 중 에러가 발생하였습니다.", "E", "OK");
	}
	
	setTimeout(function(){
		selectMenuList();
		swal.close();
		$("#btn_close").click();
	}, 500);
});

</script>
	