<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.board.service.BoardMapper">
	<select id="selectboardList" resultType="map">
		select idx      as idx,
			   title    as title,
			   content  as content,
               board_no as boardNo,
               writer   as writer,
               reg_date as regDate,
               upt_date as uptDate
		  from simpleboard
		 where 1=1
		 <if test="idx != '' and idx != null">
		   and idx = #{idx}
		 </if>
		 <if test="sch_title != '' and sch_title != null">
		   and title like CONCAT('%', #{sch_title}, '%')
		 </if>
		 <if test="sch_content != '' and sch_content != null">
		   and content like CONCAT('%', #{sch_content}, '%')
		 </if>
		 <if test="sch_writer != '' and sch_writer != null">
		   and writer like CONCAT('%', #{sch_writer}, '%')
		 </if>
		 <if test="sch_startDate != '' and sch_startDate != null">	
		    and #{sch_startDate} <![CDATA[<=]]> DATE_FORMAT(reg_date, '%Y-%m-%d')
		 </if>
		 <if test="sch_endDate != '' and sch_endDate != null">   
   		 	and DATE_FORMAT(reg_date, '%Y-%m-%d') <![CDATA[<=]]> #{sch_endDate}
   		 </if>
	</select>
	
	<insert id="insertBoardList" parameterType="map">
		<selectKey keyColumn="idx,boardNo" keyProperty="idx,boardNo" resultType="hashmap" order="BEFORE">
	       select concat('B', lpad(ifnull(max(idx),0)+1, 4, '0')) as boardNo, 
	       		  ifnull(max(idx),0) + 1 as idx 
	       	 from simpleboard    
	    </selectKey> 
		insert simpleboard(
			idx,
			title,
			content,
			board_no,
            writer,
            reg_date
		) values (
			#{idx},
			#{title},
			#{content},
			#{boardNo}, 
            #{writer},
            sysdate()
		)
	</insert>
	
	<update id="updateBoardList" parameterType="map">
		update simpleboard
		   set title = #{title},
			   content = #{content},
           	   upt_date = sysdate()
		 where idx = #{idx}   
	</update>
	
	<delete id="deleteBoardList" parameterType="map">
		delete 
		  from simpleboard
		 where idx = #{idx}   
	</delete>
</mapper>