<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.common.service.CommonMapper">
	<select id="selectCodeMstList" parameterType="map" resultType="map">
		select row_number() over(order by createDt) as rownum
			  ,mst_cd as mstCd
			  ,mst_nm as mstNm
			  ,use_yn as useYn
			  ,remark
			  ,attr1
			  ,attr2
			  ,attr3
		  from tb_common_code_mst
		 where 1=1
		 <if test="mstCd != '' and mstCd != null"> 
		   and mst_cd like concat('%', #{mstCd}, '%')
		 </if>    
	</select>
	
	<insert id="insertCodeMst" parameterType="map" >
			insert into tb_common_code_mst(
				 mst_cd
				,mst_nm
				,use_yn
				,remark
				,attr1
				,attr2
				,attr3
				,createBy
				,createDt
			) values(
				 LOWER(#{mstCd})
				,#{mstNm}
				,#{useYn}
				,#{remark}
				,#{attr1}
				,#{attr2}
				,#{attr3}
				,#{saveBy}
				,sysdate()
			)
	</insert>
	
	<update id="updateCodeMst" parameterType="map">
 		update tb_common_code_mst
 		   set mst_nm = #{mstNm}
			  ,use_yn = #{useYn}
			  ,remark = #{remark}
			  ,attr1  = #{attr1}
			  ,attr2  = #{attr2}
			  ,attr3  = #{attr3}
			  ,updateBy = #{saveBy}
			  ,updateDt = sysdate()
		 where mst_cd = LOWER(#{mstCd})
	</update>
	
	<delete id="deleteCodeMst" parameterType="map">
		delete 
		  from tb_common_code_mst 
		 where mst_cd = LOWER(#{mstCd})
	</delete>
	
	<select id="selectCodeDtlList" parameterType="map" resultType="map">
		select row_number() over(order by createDt) as rownum
	          ,mst_cd as mstCd
	          ,dtl_cd as dtlCd
	          ,dtl_nm as dtlNm
	          ,use_yn as useYn
	          ,remark
	          ,attr1
	          ,attr2
	          ,attr3
	      from tb_common_code_dtl
	     where 1=1
	     <if test="mstCd != '' and mstCd != null"> 
	       and mst_cd = LOWER(#{mstCd})
	     </if>  
	      <if test="dtlCd != '' and dtlCd != null"> 
	       and dtl_cd = #{dtlCd}
	     </if> 
	</select>
	
	<insert id="insertCodeDtl" parameterType="map" >
	  	insert into tb_common_code_dtl (
			 mst_cd
			,dtl_cd
			,dtl_nm
			,use_yn
			,remark
			,attr1
			,attr2
			,attr3
			,createBy
			,createDt
		)values(
			 LOWER(#{mstCd})
			,#{dtlCd}
			,#{dtlNm}
			,#{useYn}
			,#{remark}
			,#{attr1}
			,#{attr2}
			,#{attr3}
			,#{saveBy}
			,sysdate()
		)
	</insert>
	
	<update id="updateCodeDtl" parameterType="map">
		update tb_common_code_dtl
		   set dtl_nm   = #{dtlNm}
	          ,use_yn   = #{useYn}
	          ,remark   = #{remark}
	          ,attr1    = #{attr1}
	          ,attr2    = #{attr2}
	          ,attr3    = #{attr3}
	          ,updateBy = #{saveBy}
			  ,updateDt = sysdate()
		 where 1=1
		   and dtl_cd = #{dtlCd}
	</update>
	
	<delete id="deleteCodeDtl" parameterType="map">
		delete 
		  from tb_common_code_dtl
		 where 1=1
		   and mst_cd = LOWER(#{mstCd})
		   and dtl_cd = #{dtlCd}  
	</delete>
	
	<select id="indexFileViewerList" parameterType="map" resultType="map">
		select storedFileNm as fileName
			  ,originName 	
		  from tb_file_mng
		 where 1=1
		   and refWord = 'COMMON'
		   and content like concat('%','image','%') 
		   and uploadBy = #{loginUserId}
	</select>
	
</mapper>