<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.file.service.FileMapper">
	<select id="getfileCommonKey" parameterType="map" resultType="string">
		select (count(*) + 1) as fileCommonKey 
		  from tb_file_mng 
		 where refWord = #{refWord}
	</select>

	<select id="selectfileTypeList" parameterType="map" resultType="map">
		 select row_number() over(order by a.refWord desc) as rownum
		       ,a.refWord as fileType
		       ,count(a.refWord) as cnt
		   from tb_file_mng a
		  where 1=1
		  <if test="sch_fileName != '' and sch_fileName != null">	
		    and a.originName like concat('%', #{sch_fileName}, '%')  
		  </if>
		  <if test="sch_fileType != '' and sch_fileType != null">	
		    and a.refWord = #{sch_fileType}
		  </if>
		  <if test="sch_uploadBy != '' and sch_uploadBy != null">	
		    and a.uploadBy like concat('%', #{sch_uploadBy}, '%')
		  </if>
		  <if test="sch_startDate != '' and sch_startDate != null">	
		    and #{sch_startDate} <![CDATA[<=]]> DATE_FORMAT(a.uploadDt, '%Y-%m-%d')
		  </if>
		  <if test="sch_endDate != '' and sch_endDate != null">   
   		 	and DATE_FORMAT(a.uploadDt, '%Y-%m-%d') <![CDATA[<=]]> #{sch_endDate}
   		  </if>
		  group by a.refWord
	</select>

	<select id="selectfilelist" parameterType="map" resultType="com.web.app.file.service.FileVo">
		select row_number() over(order by a.uploadDt desc) as rownum
			  ,a.uuid
			  ,a.content
			  ,substring_index(a.originName,'.',1) as originName
			  ,a.fileExt
			  ,a.storedFileNm
			  ,a.filePath
			  ,case 
               when a.size <![CDATA[<]]> 1024 then 1
               else round(a.size/1024) end as size
              ,a.refWord
			  ,a.refKey
			  ,a.uploadBy
			  ,a.uploadDt
		  from tb_file_mng a
		 where 1=1 
		 <if test="uuid != '' and uuid != null">
		   and a.uuid = #{uuid}
		 </if>
		 <if test="content != '' and content != null">	
		   and a.content like concat('%', #{content}, '%')  
		 </if>
		 <if test="refWord != '' and refWord != null">
		   and a.refWord = #{refWord}
		 </if>
		 <if test="refKey != '' and refKey != null">
		   and a.refKey = #{refKey}
		 </if>
		 <if test="sch_fileName != '' and sch_fileName != null">	
		   and a.originName like concat('%', #{sch_fileName}, '%')  
		 </if>
		 <if test="sch_uploadBy != '' and sch_uploadBy != null">	
		   and a.uploadBy like concat('%', #{sch_uploadBy}, '%')
		 </if>
		 <if test="sch_startDate != '' and sch_startDate != null">	
		   and #{sch_startDate} <![CDATA[<=]]> DATE_FORMAT(a.uploadDt, '%Y-%m-%d')
		 </if>
		 <if test="sch_endDate != '' and sch_endDate != null">   
   			and DATE_FORMAT(a.uploadDt, '%Y-%m-%d') <![CDATA[<=]]> #{sch_endDate}
   		 </if>
		 order by a.uploadDt desc
	</select>

	<insert id="saveInfo" parameterType="map">
		insert into tb_file_mng(
			 uuid
			,content
			,originName
			,fileExt
			,storedFileNm
			,filePath
			,size
			,uploadBy
			,uploadDt
			,refWord
			,refKey
		) values (
			 #{uuid}
			,#{content}
			,#{originName}
			,#{ext}
			,#{storedFile}
			,#{filePath}
			,#{size}
			,#{uploadBy}
			,sysdate()
			,#{refWord}
			,#{refKey}
		)
	</insert>
	
	<delete id="delete" parameterType="map">
		delete 
		  from tb_file_mng
		 where uuid = #{uuid} 
	</delete>
</mapper>