<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.web.app.screen.service.WebViewMapper">
	<select id="selectViewList" resultType="map">
		select row_number() over(order by a.code) as rownum,
			   a.code,
			   a.name,
			   a.useYn,
			   a.url
		   from tb_webview_mst a
	</select>
	
	<select id="selectViewAuthList" resultType="map">
		select a.code
			  ,a.auth
			  ,a.searchYn
			  ,a.saveYn
			  ,a.deleteYn
		  from tb_webview_userauth a
		 where a.code = #{viewcode} 
	</select>
	
</mapper>